{% extends "base-castellina.html" %}
{% block content %}
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="detail-box">
            <h2>
              Che Siamo
            </h2>
            <p>
              Benvenuti a Casa di Garibaldi! La nostra spaziosa casa vacanza combina stile classico e comfort moderno, ideale per famiglie e gruppi. Situata a Monticchio, vicino a L’Aquila, è circondata dalla bellezza naturale del Parco Nazionale del Gran Sasso e dai tesori storici come la Rocca Calascio. 

Siamo Amanda e Rafael, una coppia brasiliana con una passione per i viaggi e l’ospitalità. Amiamo condividere con i nostri ospiti i segreti locali e rendere ogni soggiorno speciale. Scoprite la cucina tradizionale, le meravigliose grotte di Stiffe e i pittoreschi paesaggi che rendono questa regione unica. 

Nelle vicinanze troverete ristoranti tipici, bar accoglienti e sentieri ciclabili. La nostra casa è il rifugio perfetto per esplorare Abruzzo con tutto lo spazio e il comfort necessari per una vacanza indimenticabile! 
            </p>
            <a href="contact.html">
              Contatti Noi
            </a>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="img-box">
            <img src="../static/src/about-img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}