{% extends "base-castellina.html" %}
{% load static %}
{% block content %}

  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="amenities-container">
            <div class="amenity-item">
              <i class="fa fa-bed fa-3x" aria-hidden="true"></i>
              <p class="amenity-text">2 Letti Matrimoniali<br>4 Letti Singoli<br>1 Divano Letto</p>
            </div>
            <div class="amenity-item">
              <i class="fa fa-users fa-3x" aria-hidden="true"></i>
              <p class="amenity-text">Ospita fino a 9 persone</p>
            </div>
            <div class="amenity-item">
              <i class="fa fa-bath fa-3x" aria-hidden="true"></i>
              <p class="amenity-text">2 bagni</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- gallery section -->
  <section class="service_section layout_padding">
    <div class="gallery">
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/gal1.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/gal2.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/gal3.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/gal4.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/gal5.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/gal6.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/gal7.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/gal8.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/gal9.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/gal9.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/galcoz.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/galcoz2.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/galcoz3.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/galban2.jpg' %}" alt="Descrição da imagem">
      </div>
      <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/galban3.jpg' %}" alt="Descrição da imagem">
      </div>
            <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/galbanh.jpg' %}" alt="Descrição da imagem">
      </div>
            <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/galbanh1.jpg' %}" alt="Descrição da imagem">
      </div>
            <div class="image">
        <img src="{% static 'learnCasttelinaEv1/src/galbanh2.jpg' %}" alt="Descrição da imagem">
      </div>

    </div>
  </section>

  <!-- end service section -->

{% endblock %}