{% extends "base-castellina.html" %}
{% load static %}
{% block content %}
      <!-- slider section -->
      <section class="slider_section">
        <div class="container-fluid p-0">
          <div class="banner-container">
            <h1 class="banner-title">Benvenuti a La Casa di Garibaldi</h1>
            <p class="banner-text">Scopri il fascino e la tranquillità della nostra casa vacanza immersa nella bellezza delle montagne italiane</p>
          </div>
        </div>
      </section>
      <!-- end slider section -->
    </div>
        <!-- end slider section -->
      </div>
      
      </section>
      <!-- end slider section -->
    </div>

  
    <!-- about section -->
  
    <section class="about_section layout_padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <div class="detail-box">
              <h2>
                La nostra struttura
              </h2>
              <p>
                La Casa di Garibaldi - Casa Privata offre sistemazioni a San Demetrio neʼ Vestini, a 26 km dalla Fortezza di Rocca Calascio, 29 km da Campo Felice-Rocca di Cambio e 42 km da Campo Imperatore. La struttura dispone di una terrazza, vista sulle montagne e Wi-Fi gratuito in tutta la proprietà.<br>
                Dotata di un balcone e vista sulla città, questa casa vacanze comprende 3 camere da letto, un soggiorno, una TV satellitare a schermo piatto, una cucina attrezzata e 2 bagni con bidet e doccia. Asciugamani e biancheria da letto sono forniti. L'Aeroporto d'Abruzzo si trova a 89 km di distanza.
              </p>
              <a href="contact.html">
                verifica la disponibilità
              </a>
            </div>
          </div>
          <div class="col-lg-7 col-md-6">
            <div class="img-box">
              <img src="../static/src/quarto_casal.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end about section -->  
    <!-- service section -->
  
    <section class="service_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>Cosa per fare</h2>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 mx-auto">
            <div 
              class="box"
              style="
                background-image: url('../static/src/campfelice.jpg');
                background-size: cover;
                background-position: center;
                position: relative;
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                text-align: center;
              "
            >
              <div style="
                background-color: rgba(0, 0, 0, 0.6);
                padding: 20px;
                border-radius: 10px;
              ">
                <h5>Campo felice</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mx-auto">
            <div 
              class="box"
              style="
                background-image: url('../static/src/campoimperatore.jfif');
                background-size: cover;
                background-position: center;
                position: relative;
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                text-align: center;
              "
            >
              <div style="
                background-color: rgba(0, 0, 0, 0.6);
                padding: 20px;
                border-radius: 10px;
              ">
                <h5>Campo imperatore</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mx-auto">
            <div 
              class="box"
              style="
                background-image: url('../static/src/Rocca_di_Mezzo_panoramica.jpg');
                background-size: cover;
                background-position: center;
                position: relative;
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                text-align: center;
              "
            >
              <div style="
                background-color: rgba(0, 0, 0, 0.6);
                padding: 20px;
                border-radius: 10px;
              ">
                <h5>Roca di Mezzo</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="not_found.html">
            Scopri più
          </a>
        </div>
      </div>
    </section>
  
    <!-- end service section -->
  
    <!-- client section -->
<!-- 
    <section class="client_section ">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>
            Cosa dicono i nostri clienti
          </h2>
        </div>
        <div class="carousel-wrap layout_padding2-top ">
          <div class="owl-carousel">
            <div class="item">
              <div class="box">
                <div class="client_id">
                  <div class="img-box">
                    <img src="../static/src/575905453.jpg" alt="">
                  </div>
                  <div class="client_detail">
                    <div class="client_info">
                      <h6>
                        Jorch morik
                      </h6>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="client_text">
                  <p>
                    chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="client_id">
                  <div class="img-box">
                    <img src="../static/src/575905453.jpg" alt="">
                  </div>
                  <div class="client_detail">
                    <div class="client_info">
                      <h6>
                        Jorch morik
                      </h6>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="client_text">
                  <p>
                    chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="client_id">
                  <div class="img-box">
                    <img src="../static/src/575905453.jpg" alt="">
                  </div>
                  <div class="client_detail">
                    <div class="client_info">
                      <h6>
                        Jorch morik
                      </h6>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="client_text">
                  <p>
                    chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="client_id">
                  <div class="img-box">
                    <img src="../static/src/575905453.jpg" alt="">
                  </div>
                  <div class="client_detail">
                    <div class="client_info">
                      <h6>
                        Jorch morik
                      </h6>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="client_text">
                  <p>
                    chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
-->
    <!-- end client section -->
  
    <!-- contact section -->
    {% include 'learnCastellinaEv1/partials/_form.html' %}
  
  
{% endblock %}