<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/ll_css/not_found.css">
    <link rel="shortcut icon" type="imagex/png" href="./assets/icon.ico">
    <title>Casa di Garibaldi</title>
</head>
      <div class="col-md-6 align-self-center">
        <h1>404</h1>
        <h2>UH OH! Sei perso.</h2>
        <p>La pagina che stai cercando non esiste.
          Come sei arrivato qui è un mistero. Ma puoi cliccare sul pulsante qui sotto
          per tornare alla home page.
        </p>
        <a class="btn green" href="index.html">HOME</a>
      </div>
    </div>
  </div>
</main>