.gallery {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    margin: 10px;
    width: calc(33.33% - 20px);
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.image:hover img {
    transform: scale(1.1);
}

.camera {
    position: relative;
    background-color: #bfd2ee;
    font-size: large;
    display: flex;
    justify-content: center;
    justify-items: center;
}